h1 {
    color: rgb(110, 110, 173);
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.fecha {
    font-size: 70%;
    color: #722626;
}

.texto-msj {
    color: #2b312c;
    font-style: italic;
}

.productsImage {
    max-width: 100px;
    max-height: 100px;
}